<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Каталог</title>
		<link rel="shortcut icon" href="../static/PHOTO/Logo.jpg" type="image/x-icon"> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/CSS/catalog.css">

    </head>
    <body>
        <div class="container-fluid">
            <!-- Top part of the site -->
            <div class="row">
                <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
                    <div class="container-fluid main-nav" style="box-shadow: 0px 6px 6px #D7D7D7;">
                        <a class="navbar-brand" href="#">
                            <img src="../static/PHOTO/Logo.jpg" alt="Bootstrap" width="50" height="50" style="border-radius: 3px;">
                        </a>
                        <a class="navbar-brand main-nav-text" href="#"> Каталог </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarScroll">
                            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="margin-right: 10px;"> Контакты </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="tel: ">Данила</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="tel: +79055510600">Георгий</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">danilvkrep@gmail.com</a>
                                        </li>
                                    </ul>
                                </div>
                                <li class="nav-item">
                                    <button type="button" class="btn btn-outline-light" id="catalog_btn">Главная страница</button>
                                </li>
                            </ul>
                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
                                <button class="btn btn-outline-light" type="submit">Поиск</button>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>


            
            <!-- row number 1-->
            <div class="row row-cols-1 row-cols-md-6 g-4" style="margin-top: 75px;">

                <div class="col">
	                <a href="https://www.youtube.com/" style="text-decoration: none;">
	                    <div class="card h-100">
	                        <img src="../static/PHOTO/Bolt.png" class="card-img-top" alt="...">
	                        <div class="card-body">
	                            <h5 class="card-title link" style="text-align: center;">Болты</h5>
	                        </div>
	                    </div>
                	</a>
                </div>

                <div class="col">
                    <a href="https://www.youtube.com/" style="text-decoration: none;">
                        <div class="card h-100">
                            <img src="../static/PHOTO/Samorez.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title link" style="text-align: center;">Саморезы</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col">
                	<a href="https://www.youtube.com/" style="text-decoration: none;">
	                    <div class="card h-100">
	                        <img src="../static/PHOTO/Gluhar.png" class="card-img-top" alt="...">
	                        <div class="card-body">
                                <h5 class="card-title link" style="text-align: center;">Шурупы</h5>
                            </div>
	                    </div>
	                </a>
                </div>

                <div class="col">
                	<a href="https://www.youtube.com/" style="text-decoration: none;">
	                    <div class="card h-100">
	                        <img src="../static/PHOTO/Vint.png" class="card-img-top" alt="...">
	                        <div class="card-body">
	                            <h5 class="card-title link" style="text-align: center;">Винты</h5>
	                        </div>
	                    </div>
                	</a>
                </div>

                <div class="col">
                	<a href="https://www.youtube.com/" style="text-decoration: none;">
	                    <div class="card h-100">
	                        <img src="../static/PHOTO/Shpilka.png" class="card-img-top" alt="...">
	                        <div class="card-body">
	                            <h5 class="card-title link" style="text-align: center;">Шпильки</h5>
	                        </div>
	                    </div>
                	</a>
                </div>
                <div class="col">
                	<a href="https://www.youtube.com/" style="text-decoration: none;">
	                    <div class="card h-100">
	                        <img src="../static/PHOTO/Shaiba.png" class="card-img-top" alt="...">
	                        <div class="card-body">
	                            <h5 class="card-title link" style="text-align: center;">Шайбы</h5>
	                        </div>
	                    </div>
	                </a>
                </div>
            </div>
            <!-- row number 2 -->
            <div class="row row-cols-1 row-cols-md-6 g-4" style="margin-top: 0px;">

            	<div class="col">
	                <a href="https://www.youtube.com/" style="text-decoration: none;">
	                    <div class="card h-100">
	                        <img src="../static/PHOTO/Gaika.png" class="card-img-top" alt="...">
	                        <div class="card-body">
	                            <h5 class="card-title link" style="text-align: center;">Гайки</h5>
	                        </div>
	                    </div>
                	</a>
                </div>

                <div class="col">
                    <a href="https://www.youtube.com/" style="text-decoration: none;">
                        <div class="card h-100">
                            <img src="../static/PHOTO/Anker.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title link" style="text-align: center;">Анкера</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col">
                	<a href="https://www.youtube.com/" style="text-decoration: none;">
	                    <div class="card h-100">
	                        <img src="../static/PHOTO/Zazhim.png" class="card-img-top" alt="...">
	                        <div class="card-body">
                                <h5 class="card-title link" style="text-align: center;">Такелаж</h5>
                            </div>
	                    </div>
	                </a>
                </div>

                <div class="col">
                	<a href="https://www.youtube.com/" style="text-decoration: none;">
	                    <div class="card h-100">
	                        <img src="../static/PHOTO/Gvozd.png" class="card-img-top" alt="...">
	                        <div class="card-body">
	                            <h5 class="card-title link" style="text-align: center;">Гвозди</h5>
	                        </div>
	                    </div>
                	</a>
                </div>

                <div class="col">
                	<a href="https://www.youtube.com/" style="text-decoration: none;">
	                    <div class="card h-100">
	                        <img src="../static/PHOTO/Perf.png" class="card-img-top" alt="...">
	                        <div class="card-body">
	                            <h5 class="card-title link" style="text-align: center;">Перфорация</h5>
	                        </div>
	                    </div>
                	</a>
                </div>

                <div class="col">
                	<a href="https://www.youtube.com/" style="text-decoration: none;">
	                    <div class="card h-100">
	                        <img src="../static/PHOTO/Dubel.png" class="card-img-top" alt="...">
	                        <div class="card-body">
	                            <h5 class="card-title link" style="text-align: center;">Дюбеля</h5>
	                        </div>
	                    </div>
	                </a>
                </div>

            </div>
            <!-- row number 3 -->
            <div class="row row-cols-1 row-cols-md-6 g-4" style="margin-top: 0px; margin-bottom: 10px;">

            	<div class="col">
                	<a href="https://www.youtube.com/" style="text-decoration: none;">
	                    <div class="card h-100">
	                        <img src="../static/PHOTO/Tros.png" class="card-img-top" alt="...">
	                        <div class="card-body">
	                            <h5 class="card-title link" style="text-align: center;">Тросы</h5>
	                        </div>
	                    </div>
	                </a>
                </div>

                <div class="col">
                	<a href="https://www.youtube.com/" style="text-decoration: none;">
	                    <div class="card h-100">
	                        <img src="../static/PHOTO/Prochee.png" class="card-img-top" alt="...">
	                        <div class="card-body">
	                            <h5 class="card-title link" style="text-align: center;">Прочее</h5>
	                        </div>
	                    </div>
	                </a>
                </div>

            </div>
        </div>
    </body>
</html>